replicaCount: 2

image:
  repository: ajs3ra8/devops-demo
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: LoadBalancer
  port: 80

env:
  APP_VERSION: "v1"
  ENV: "local"

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 200m
    memory: 256Mi
