name: CI - Build and Push Docker Images

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and Push Docker Images
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        tags: |
          ${{ secrets.DOCKERHUB_USERNAME }}/devops-demo:latest
          ${{ secrets.DOCKERHUB_USERNAME }}/devops-demo:${{ github.sha }}

    - name: Update GitOps repo (image tag)
      run: |
        git config --global user.email "ci-bot@github.com"
        git config --global user.name "ci-bot"

        git clone https://x-access-token:${{ secrets.GITOPS_REPO_TOKEN }}@github.com/akashjaiswal36/devops-platform-gitops.git

        cd devops-platform-gitops/apps/devops-demo

        sed -i "s/tag:.*/tag: ${GITHUB_SHA}/" values.yaml

        git add values.yaml
        git commit -m "Update image tag to ${GITHUB_SHA}"
        git push